<!-- config.html -->
{% extends "base.html" %}

{% block title %}Configuración{% endblock %}

{% block header %}
    <header class="sticky-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Volver atrás</a>
                </div>
                <span class="navbar-text">Bienvenido, {{ house_name }}</span>
                <div class="navbar-nav">
                    <a class="nav-link" href="/auth/logout">Logout</a>
                </div>
            </div>
        </nav>        
    </header>
{% endblock %}

{% block main %}
<div class="col-md-6 offset-md-3">
    <h1 class="text-center mb-4">Configuración de la cuenta</h1>
    <!-- Opciones de configuración -->
    <div class="card card-body text-white" style="background-color: #202020;">
        <button id="delete-house-btn" data-house-id="{{current_user.id}}" class="btn btn-danger">Eliminar casa</button>
    </div>
</div>
{% endblock %}
