<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amo de Casa - {{ house_name }}</title>
    <!-- Bootstrap, Bootswatch -->
    <link rel="stylesheet" href="https://bootswatch.com/5/yeti/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <!-- Fuente de Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
</head>

<body class="bg-dark text-white">

    <header class="sticky-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Amo de Casa</a>
                <span class="navbar-text">Hola, {{ house_name }}</span>
                <div class="navbar-nav">
                    <a class="nav-link" href="/auth/logout">Logout</a>
                </div>
            </div>
        </nav>        
    </header>

    <main class="container mt-5">
        <div class="col-md-6 offset-md-3">
            <h1>Tareas de Casa</h1>

            <form id="taskForm" class="card card-body text-white" style="background-color: #202020;">
                <label for="tarea">Tarea</label>
                <input type="text" name="tarea" placeholder="Tarea" class="form-control mb-2" required>

                <label for="tarea">Prioridad</label>
                <select name="prioridad" class="form-select mb-2" required>
                    <option value="1">1. Crítica</option>
                    <option value="2">2. Urgente</option>
                    <option value="3">3. Importante</option>
                    <option value="4">4. Moderado</option>
                    <option value="5">5. Menor</option>
                </select>

                <button class="btn btn-primary">Guardar</button>
            </form>

            <ul id="taskList" class="list-group mt-4">
                
            </ul>
        </div>
    </main>
    
    <footer class="text-center mt-5">
        <p>&copy; 2023 Amo de Casa. Todos los derechos reservados.</p>
    </footer>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script>
        sessionStorage.setItem('house_id', '{{ session["house_id"] }}');
    </script>

</body>

</html>
