<!-- dashboard.html -->
{% extends "base.html" %}

{% block title %}{{ house_name }}{% endblock %}

{% block extra_css %}
    <!-- Fuente de Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
{% endblock %}

{% block header %}
    <header class="sticky-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Amo de Casa</a>
                <span class="navbar-text">Hola, {{ house_name }}</span>
                <div class="navbar-nav">
                    <a class="nav-link" href="/auth/logout">Logout</a>
                </div>
            </div>
        </nav>        
    </header>
{% endblock %}

{% block main %}
    <a href="{{ url_for('priority_names') }}" class="btn btn-secondary">Actualizar Nombres de Prioridad</a>

    <div class="col-md-6 offset-md-3">
        <h1>Tareas de Casa</h1>
        <form id="taskForm" class="card card-body text-white" style="background-color: #202020;">
            <label for="tarea">Tarea</label>
            <input type="text" name="tarea" placeholder="Tarea" class="form-control mb-2" required>
            <label for="tarea">Prioridad</label>
            <select name="prioridad" class="form-select mb-2" required>
                <option value="1">1. </option>
                <option value="2">2. </option>
                <option value="3">3. </option>
                <option value="4">4. </option>
                <option value="5">5. </option>
                <option value="6">6. </option>
                <option value="7">7. </option>
            </select>
            <button class="btn btn-primary">Guardar</button>
        </form>
        <ul id="taskList" class="list-group mt-4">
            <!-- Las tareas se listarán aquí -->
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        sessionStorage.setItem('house_id', '{{ session["house_id"] }}');
    </script>
{% endblock %}
