<!-- priority_names.html -->
{% extends "base.html" %}

{% block title %}Nombres de Prioridad{% endblock %}

{% block extra_css %}
    <!-- Fuente de Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
{% endblock %}

{% block header %}
    <header class="sticky-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Amo de Casa</a>
                <span class="navbar-text">Hola, {{ house_name }}</span>
                <div class="navbar-nav">
                    <a class="nav-link" href="/auth/logout">Logout</a>
                </div>
            </div>
        </nav>        
    </header>
{% endblock %}

{% block main %}
<div class="col-md-6 offset-md-3">
    <!-- Formulario de actualización -->
    <form id="priorityNameForm" class="card card-body text-white" style="background-color: #202020;">
        <label for="priorityLevel">Nivel de Prioridad</label>
        <select id="priorityLevel" name="priorityLevel" class="form-control mb-2" required>
            <option value="">Seleccionar nivel de prioridad</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
        </select>
        <label for="priorityName">Nombre de Prioridad</label>
        <input type="text" name="priorityName" placeholder="Nombre de Prioridad" class="form-control mb-2" maxlength="25" required>
        <div class="d-flex">
            <button class="btn btn-primary flex-grow-1 mr-2">Actualizar nombre</button>
            <a href="/dashboard" class="btn btn-secondary">Volver al panel de control</a>
        </div>
    </form>
    <!-- Formulario para resetear los nombres de las prioridades -->
    <form id="resetPriorityNamesForm" class="card card-body text-white mt-2" style="background-color: #202020;">
        <button id="resetButton" class="btn btn-warning">Resetear a valores predeterminados</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        sessionStorage.setItem('house_id', '{{ session["house_id"] }}');
    </script>
{% endblock %}
